<!DOCTYPE html>
<html lang="en">

<head>
    <title>Incorrect Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/incorrect.css">
</head>

<body style="background-color: bisque;">
    <div class="container">
        <div id="div-body">
            <img src="/static/cross.png" width="100px" height="80px" style="margin:auto">
            <h1>Incorrect Password</h1>
            <a href="/lib_login">Click here to go Back</a>
        </div>
    </div>
</body>

</html>